<?xml version="1.0" encoding="utf-8" ?>
<database modle="single">
  <database-factory>
    <property name="database.type">MySql</property>
    <property name="connection.url">localhost</property>
    <property name="connection.username">root</property>
    <property name="connection.password">root</property>
    <property name="connection.datasource">slsoft_iasdb</property>
  </database-factory>
</database>
<!--<database modle="single">
  <database-factory>
    <property name="database.type">sql</property>
    <property name="connection.url">.\SQL</property>
    <property name="connection.username">sa</property>
    <property name="connection.password">123456</property>
    <property name="connection.datasource">GGZBTQPTDB</property>
  </database-factory>
</database>-->
